@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .button {
    @apply px-3 text-sm text-text active:scale-75 transition-all duration-150 ease-linear;
  }

  .button-primary {
    @apply bg-primary active:bg-primary-secondary pointer-events-none;
  }

  .button-secondary {
    @apply scale-75 bg-primary-secondary active:bg-primary active:scale-50;
  }


  .img-card {
    @apply opacity-0 translate-y-[-10%];
  }


  .banList {
    @apply relative opacity-0 translate-y-[-5%] before:z-40 before:content-[''] before:absolute before:top-[-10px] before:right-[-10px] before:w-6 before:h-6 before:rounded-full before:bg-white before:bg-no-repeat before:bg-cover;
  }

  .Banned {
    @apply before:bg-[url('../public/Svg/ban.svg')];
  }

  .Limited {
    @apply before:bg-[url('../public/Svg/limited.svg')];
  }

  .SemiLimited {
    @apply before:bg-[url('../public/Svg/semiLimited.svg')];
  }
}


header {
  & h1 {
    text-wrap: balance;
  }
}


.img-card {
  background: transparent url(../public/card/cardBack.jpg) no-repeat center/cover;
}


#buttonCardContainer::-webkit-scrollbar {
  display: none;
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);
  transform: perspective(200px) rotateX(65deg) rotate(45deg);
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px
  }

  90%,
  100% {
    box-shadow: 20px 20px 0 -4px
  }
}

@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1)
  }

  100% {
    transform: translate(-25px, -25px) scale(1)
  }
}